body {
	background-image: url("../images/background.jpg");
	background-size: cover;
}

h1,
.yourchar,
.attack,
.col-lg-6 {
    text-align: center;
    margin: auto;
}

h1 {
	font-size: 60px!important;
	font-family: 'Abril Fatface', cursive!important;
	border-bottom: solid 5px #fff;
	width: 60%;
}

h2 {
	font-size: 50px!important;
}

h3 {
	border-bottom: solid 5px #fff;
	font-family: 'Kanit', sans-serif!important;
}

h2,
.attack,
.char,
p {
	font-family: 'Kanit', sans-serif!important;
}

h1,
h2,
h3,
p,
.char {
	color: #fff!important;
}

.char,
p {
	font-size: 30px;
}

p {
	bottom: 0;
}

.attack {
    width: 300px!important;
    height: 150px!important;
    margin-top: 40px!important;
    font-size: 50px!important;
}

.defender {
    text-align: right;
}

.char {
    width: 160px;
    height: 200px;
    padding-top: 100px;
    background-color: #fff;
}

#your {
	color: #00FF00;
}

.messageone {
	padding-top: 20px;
}

#attacknumber {
	display: none;
}

.reset {
	text-align: center!important;
	display: none;
	margin: auto;
}

.one {
	background-image: url("../images/tchalla.jpg");
	background-size: cover;
}

.two {
	background-image: url("../images/killmonger.jpg");
	background-size: cover;
}

.three {
	background-image: url("../images/mbaku.jpg");
	background-size: cover;
}

.four {
	background-image: url("../images/wkabi.jpg");
	background-size: cover;
}